extends base



block content
 main.main 
   .error(style='padding:210px;text-align:center;font-size:26px;font-family:Lato') 
    .error_title
      h2.heading-secondary.heading-secondary--error(style="color:red") &nbsp &nbsp Uh oh! Something went wrong! 🤯 😥
    .error__msg=msg

