extends base

block append head
 script.
    setTimeout(function() {
        window.location.href = '/'; // Redirect to home page
    }, 3000); // 3000 milliseconds (3 seconds)

block content
 main.main 
   .error(style='padding:210px;text-align:center;font-size:26px;font-family:Lato') 
    .error_title
      h2.heading-secondary.heading-secondary--error(style="color:red") &nbsp &nbsp Uh oh! Something went wrong! 🤯 😥
    .error__msg=msg

