doctype html
html
  head
    link(rel='stylesheet' href='/css/login-style.css')
    link(rel='shortcut icon' type='image/png' href='/img/justice.png')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')


    title Voting | email
  body
    .pagewrap
      .cont WE HAVE SENT A LINK TO YOUR EMAIL 🎉
      .cont &nbsp;&nbsp; PLEASE CLICK IT FOR FURTHER PROCEEDINGS 🙌

          
        

    
    
